<!doctype html>
<html>

<head>
    <title><%= title %> - Employee Database</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>

<body>
    <%- include("../partials/welcome") %>

    <p>Visit the <a href="/">home page</a>.</p>
    <p>Visit the <a href="/about">about page</a>.</p>
    <p>Visit the <a href="/employees">employees page</a>.</p>
    <p>Visit the <a href="/employees/visible">visible employees page</a>.</p>

    <%- body %>
</body>

</html>